
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>用户登陆 | 古睿后台管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.useso.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="__STATIC__/fullscreenlogin/css/reset.css">
        <link rel="stylesheet" href="__STATIC__/fullscreenlogin/css/supersized.css">
        <link rel="stylesheet" href="__STATIC__/fullscreenlogin/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
		
            <h1>登陆</h1>
			<div class="error"></div>
            <form action="__SELF__" method="post">
                <input type="text" name="username" class="username" placeholder="请输入用户名">
                <input type="password" name="password" class="password" placeholder="请输入密码">
                                  <php>if(C('WEB_SITE_VERIFY')) { </php>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword"></label>
                    <div class="controls">
                      <input type="text" id="verify" class="span3" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
                      
                      <a href="javascript:;" class="reloadverify_a">换一张?</a>
                    </div>
                  </div>
                 
                  <php> } </php>
               
              <php>if(C('WEB_SITE_VERIFY')) { </php>
              
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <img width="300" class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
                </div>
              </div>
              <php> } </php>
                <button type="submit">登陆</button>
                
            </form>
          <!--   <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div> -->
        </div> 
        <script type="text/javascript">
           
                window.PATH_VAR = {
                    'STATIC':'__STATIC__'
                };
        </script>
        <!-- Javascript -->
        <script src="__STATIC__/fullscreenlogin/js/jquery-1.8.2.min.js"></script>
       
        <script src="__STATIC__/fullscreenlogin/js/supersized.3.2.7.min.js"></script>
        <script src="__STATIC__/fullscreenlogin/js/supersized-init.js"></script>
        <script src="__STATIC__/fullscreenlogin/js/scripts.js"></script>
        
	<script type="text/javascript">

    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});


    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
					alert(data.info);
    				$(".error").text(data.info).show();
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify,.reloadverify_a").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>

    </body>

</html>

