<include file="Base/_head" />
<!-- Contents
    ================================================== -->
 <div class="container container-body ">
           <section class="center-block main-content col-lg-8 col-md-8 col-sm-12">
               <div class="bar">
                    <h3>{$category.title}</h3>
               </div>
               <div class="panel">
                    <article:list name="list" category="$category['id']" child="false">
                        <div class="item">
                            <span><a href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a></span>
                            <span class="pull-right"> {$list.create_time|time_format}</span>
                        </div>
                        <hr/>
                     </article:list>
              
                </div>

            </section>
            <aside class="col-lg-4 col-md-4 col-sm-12">
                <!-- 边栏 -->    
                <include file="Base/_articleaside" />

            </aside>
</div>


<include file="Base/_footer" />

