    <!-- 统一页脚 -->
    <div class="footer row clearfix">
        <div class="col-sm-3 col-md-2 col-xs-12 hidden-xs hidden-sm">
        
        <img src="__IMG__/wg/about.png" />

                <ul class="list-unstyled">
        <li><a href="http://gooraye.com/web/a/guanyu/" target="blank">微端简介</a></li><a href="http://gooraye.com/web/a/guanyu/" target="blank">

        </a><li><a href="http://gooraye.com/web/a/guanyu/" target="blank"></a><a href="http://www.cnxuntu.com/plus/list.php?tid=6" target="blank">关于古睿</a></li>
    </ul>
        </div>

            <div class=" col-sm-3 col-md-2 col-xs-12  hidden-xs hidden-sm">

            <img src="__IMG__/wg/help.png">

                <ul class="list-unstyled">
            <li><a href="http://gooraye.com/web/a/bangzhu/" target="blank">常见问题</a></li>

            <li><a href="http://bbs.weixinyunduan.com/" target="blank">论坛求助</a></li>

             </ul>
            </div>

               <div class="col-sm-3 col-md-2 col-xs-12  hidden-xs hidden-sm">

                <img src="__IMG__/wg/qixia.png">

                <ul class="list-unstyled">
                <li><a href="http://www.gooraye.com/" target="blank">古睿企业官网</a></li>
                </ul>
              </div>





            <div class="col-md-4 col-sm-3 col-xs-12  hidden-xs hidden-sm">

                <img src="__IMG__/wg/lianxi.png">
                <ul class="list-unstyled">
                <li>客服热线：0575-85060707</li>

                <li>办公地址：浙江省绍兴市越城区汤公路186号</li>
                
                <li>建议反馈：QQ:2966442390   QQ:1966236348</li>

                <li>网站备案号：{:C('WEB_SITE_ICP')}
                </li>

                 </ul>

            </div>
            


    </div>
    
    <div class="row col-md-12 text-center  " style="padding-bottom:30px;">© 2014 古睿信息科技有限公司.</div>
    <!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
    {:hook('pageFooter', 'widget')}    
    </body>
    </html>
