<include file="Base/_head" />
<div class="container container-body">
    <!-- <div class="aboutus">
        公司：古睿信息科技有限公司        
        地址：浙江省绍兴市越城区汤公路186号
        QQ：  2966442390
        电话：0575-85060707
        邮编：312071
    </div>
    <hr/> -->
    <div class="">
        <div class="col-lg-12 ">
            <iframe width="604" height="837" class="center-block"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/_uIWr"></iframe>
        </div>
        <!-- <div class="col-lg-6">
            <img data-orginal="__STATIC__/qrcode30cm.jpg"  data-sm-orginal="__STATIC__/qrcode8cm.jpg" alt="微信服务号" class="lazy img-responsive" />
        </div> -->
    </div>
</div>
<include file="Base/_footer" />